* {
    /*border: solid 2px red;*/
    box-sizing: border-box;
    text-align: center;
    background-color: chartreuse;
}

.image {
    width: 500px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

li {
    
    list-style: none; /*remember this takes away list markers!*/
    font-size: larger;
}

.info {
    font-size: 30px;
    color: blue;
}

#header {
    font-size: 45px;
    background-color: darkmagenta;
}
