* {
    /*outline: 2px solid red;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: chartreuse;
    text-align: center;
    word-spacing: 2px;
}

h1 {
    padding: 40px 0 40px 0;
    margin-bottom: 20px;
    border: solid 2px black;
    font-size: 100px; 
    font-family: 'Times New Roman', Times, serif;
    color: darkmagenta;
    

}

li {
    font-size: 35px;
    padding: 10px;
}

.items {
    margin-bottom: 40px;
    margin-top: 40px;
}
.footer {
    outline: 2px solid red;
    color: rgb(202, 40, 0);
}