* {
    background-color: rgb(168, 248, 20);
    font-family: Arial, Helvetica, sans-serif
}

h1, h2, p {
    text-align: center;
    color: rgb(223, 67, 10);
    font-weight: bold;
}

.image {
    display: block;
    margin: 0 auto;
    width: 25%;
    border-width: 10px;
    border-color: blue;
    border-style: ridge;
}

#header {
    color: rgb(250, 4, 209);
    height: 50px;
    font-size: 75px;
}
.info {
    color: rgb(250, 4, 209);
}

ul, ol {
    color: brown;
    font-size: large;
    
}



